doctype html
html(class="no-js", lang="")
    head
        // todo : Remove bootstrap, only used in pagemaker.
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        title='Robert Westenberger Portfolio'
        meta(name="description", description='Robert Westenberger Portfolio')
        meta(name="viewport", content="width=device-width, initial-scale=1")
        script(src="https://www.gstatic.com/charts/loader.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js")
        link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Open+Sans|VT323|Josefin+Sans")
        link(rel="stylesheet", type="text/css", href="https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css")
        link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css")
        style#css!= css
    body
        #app(style={height: '100%'})!= body
        script#source(src=entry, data-initial-state=state)
        script.
            window.ga = function () {
                ga.q.push(arguments)
            };ga.q = [];ga.l = +new Date;
            if(trackingId)
                ga('create', '#{trackingId}', 'auto');ga('send', 'pageview')
                script(src = "https://www.google-analytics.com/analytics.js", async = true, defer = true)
